<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Java">Java</a></li>
	        		<li><a href="/Git">Git</a></li>
	        		<li><a href="/MongoDB">MongoDB</a></li>
	        		<li><a href="/MySQL Workbench">MySQL Workbench</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
